.gradle
.settings
build
eclipse
gradle
.classpath
.project
build.gradle
CREDITS-fml.txt
LICENSE-fml.txt
forge-1.7.10-10.13.4.1558-1.7.10-changelog.txt
gradlew
gradlew.bat
MinecraftForge-Credits.txt
MinecraftForge-License.txt